<div class="container-fluid top-navbar" style="background:transparent;">
  <a class="float-left" href="/">
  <h2>
    <img src="/img/icon/plant.png" class="logo">
    <font class="logo-text blaBla"><%= blog.title %></font>
    <br>
  </h2>
  </a>
</div>
