<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('../head') %>
<link rel="stylesheet" href="/css/admin-dash.css">
<body>
  <div class="container-fluid box-shadow top-navbar" style="background:transparent;">
    <a class="float-left" href="/">
    <h2>
      <img src="/img/icon/plant.png" class="logo">
      <font class="logo-text blaBla"><%= blog.title %></font>
      <br>
    </h2>
    </a>
    <div class="float-right">
      <h4 style="margin-top:30px;margin-right:10px;"><%= blog.author %></h4>
    </div>
  </div>

    <br>
    <div class="container">
      <a href="/console/new" class="btn btn-success">+ New Post</a>
    </div>
</body>

</html>
